// form

.form {

}

.form__field {
  font-size: .9em;
  margin-bottom: 1.5rem;
}

.form__label {
  display: block;

  color: lighten($black, 40%);
  font-family: $family-one;
  font-size: .8em;
  font-weight: 400;
  text-transform: uppercase;

  margin-bottom: .8em;
}

%form__fields {
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1em;
  border-radius: 4px;
  border: solid 1px rgba($black, .2);

  color: lighten($black, 30%);
  font-family: $family-two;
  font-size: 1em;

  outline: none;

  &:focus {
    border: solid 1px rgba($black, .4);
  }
}

.form__input {
  @extend %form__fields;
}

.form__file {
  @extend %form__fields;
  line-height: 1;
  padding: .8em 1em;
}

.form__select {
  @extend %form__fields;
}

.form__textarea {
  @extend %form__fields;
  line-height: 1.6;
  min-height: 6em;
  padding: .8em 1em;
}

.form__checkbox {
  position: relative;
  padding-left: 1.4rem;

  + .form__checkbox {
    margin-top: .5rem;
  }
}

.form__checkbox-label {
  display: block;

  color: lighten($black, 40%);
  font-family: $family-one;
  font-size: 1em;

  cursor: pointer;
}

.form__checkbox-input {
  position: absolute;
  top: .2em;
  left: 0;

  cursor: pointer;
}

.form__submit {
  text-align: right;
}

@include media($screen-md) {
  .form__field {
    font-size: 1em;
  }

  %form__fields {
    border-radius: 4px;
  }

  .form__textarea {
    min-height: 10em;
  }
}
