// grid

$responsive: true;

$columns: 12;

$medium: 768px;
$large: 990px;


@if $responsive == true {
  // for responsives
  .row {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin: 0 auto;

    @media (min-width: $large) {
      width: $large;
    }
  }

  .no-flexbox {
    .row {
      display: block;
      justify-content: none;

      @extend %clearfix;
    }
  }
} @else if $responsive == false {
  // for no responsives
  .row {
    display: flex;
    justify-content: space-between;

    width: $large;
    margin: 0 auto;
  }

  .no-flexbox {
    .row {
      display: block;
      justify-content: none;

      @extend %clearfix;
    }
  }
}

.columns {
  @include box-sizing(border-box);
  position: relative;
  width: 100%;
}

.no-flexbox {
  .columns {
    float: left;
  }

  .columns:last-of-type {
    float: right;
  }
}

.hide {
  display: none !important;
}


@if $responsive == true {
  // for smartphones
  @media (max-width: $medium) {
    .small-column {
      flex-direction: column;

      .columns,
      .columns:last-of-type {
        float: none;
      }
    }

    .small-hide {
      display: none !important;
    }

    @for $i from 1 through $columns {
      .small-#{$i} {
        width: (100% / $columns) * $i;
      }
    }

    .small-order {
      @for $i from 1 through $columns {
        .order-#{$i} {
          order: $i;
        }
      }
    }
  }

  // for tablets
  @media (min-width: $medium) and (max-width: $large) {
    .medium-column {
      flex-direction: column;

      .columns,
      .columns:last-of-type {
        float: none;
      }
    }

    .medium-hide {
      display: none !important;
    }

    @for $i from 1 through $columns {
      .medium-#{$i} {
        width: (100% / $columns) * $i;
      }
    }

    .medium-order {
      @for $i from 1 through $columns {
        .order-#{$i} {
          order: $i;
        }
      }
    }
  }

  // for desktop
  @media (min-width: $large) {
    .large-column {
      flex-direction: column;

      .columns,
      .columns:last-of-type {
        float: none;
      }
    }

    .large-hide {
      display: none !important;
    }

    @for $i from 1 through $columns {
      .large-#{$i} {
        width: (100% / $columns) * $i;
      }
    }

    .large-order {
      @for $i from 1 through $columns {
        .order-#{$i} {
          order: $i;
        }
      }
    }
  }
} @else if $responsive == false {
  // for no responsives
  .large-column {
    flex-direction: column;

    .columns,
    .columns:last-of-type {
      float: none;
    }
  }

  .large-hide {
    display: none !important;
  }

  @for $i from 1 through $columns {
    .large-#{$i} {
      width: (100% / $columns) * $i;
    }
  }

  .large-order {
    @for $i from 1 through $columns {
      .order-#{$i} {
        order: $i;
      }
    }
  }
}
