// variables

// project
$responsive: true;

// columns
$columns: 12;

// breakpoints
$medium: 600px;
$large: 990px;

// spacings
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 30px;

$margin-small: 10px;
$margin-medium: 20px;
$margin-large: 30px;
