/*
	Default
*/

body {
	font-size: 10px;
}


/* Alignments */

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}



/* Clip Oveflow */

.clip {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}