/*
	Default
*/

body {
	font-size: 10px;
}


/* Margins */

$margin: 20px;

.margin {
	margin: 0 $margin / 2;
}

.margin-top {
	margin-top: $margin;
}

.margin-bottom {
	margin-bottom: $margin;
}

.margin-left {
	margin-left: $margin;
}

.margin-right {
	margin-right: $margin;
}


/* Paddings */

$padding: 20px;

.padding {
	padding: 0 $padding / 2;
}

.padding-top {
	padding-top: $padding;
}

.padding-bottom {
	padding-bottom: $padding;
}

.padding-left {
	padding-left: $padding;
}

.padding-right {
	padding-right: $padding;
}



/* Alignments */

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}



/* Clip Oveflow */

.clip {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}