// footer

.footer {
  cursor: default;

  padding: 2rem 0;

  color: lighten($black, 40%);
  font-size: .9rem;
  text-align: center;
  text-transform: uppercase;
}

.footer__link {
  text-decoration: none;
}


.footer__small {
  font-size: 1rem;
}


.footer__author {
  font-size: .7rem;
  margin-top: 1rem;
}


@include media($screen-md) {
  .footer {
    text-align: left;

    .container {
      position: relative;
    }
  }

  .footer__author {
    position: absolute;
    top: 0;
    right: 0;
  }
}
