// header

.header {
  width: 100%;
  padding: 1rem 0;
}

.header__logo {

}

.header__nav {

}

@include media($screen-md) {
  .header {
    padding: 1rem 0;

    .container {
      position: relative;
    }
  }

  .header__logo {
    position: absolute;
    top: 0;
    left: 0;
  }

  .header__nav {

  }
}
