// header

.header {
  width: 100%;
  padding: 1em 0;
}

.header__logo {

}

.header__nav {

}

@include media($screen-md) {
  .header {
    padding: 1em 0;

    .container {
      position: relative;
    }
  }

  .header__logo {
    float: left;
  }

  .header__nav {
    float: right;
  }
}
