// breakpoints

$breakpoint-sm: 768px;
$breakpoint-md: 990px;
$breakpoint-lg: 1200px;

$screen-sm:     new-breakpoint(min-width $breakpoint-sm);
$screen-sm-max: new-breakpoint(max-width $breakpoint-sm);

$screen-md:     new-breakpoint(min-width $breakpoint-md);
$screen-md-max: new-breakpoint(max-width $breakpoint-md);
$screen-md-only: new-breakpoint(min-width $breakpoint-sm max-width $breakpoint-md);

$screen-lg:     new-breakpoint(min-width $breakpoint-lg);
$screen-lg-max: new-breakpoint(max-width $breakpoint-lg);
