.btn {
  @include appearance(none);

  cursor: pointer;
  display: inline-block;

  color: #fff;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;

  border: none;
  border-radius: $base-border-radius;

  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;

  &:hover,
  &:focus {
    background-color: darken($action-color, 15%);
  }

  &:disabled {
    background-color: darken($action-color, 15%);
  }
}
