// grid

$grid-columns: 12;

$container-sm: 720px;
$container-md: 940px;
$container-lg: 1120px;


.container {
  @include row;
  padding: 0 15px;

  @include media($screen-sm) {
    @include outer-container($container-sm);
    padding: 0;
  }

  @include media($screen-md) {
    @include outer-container($container-md);
  }

  @include media($screen-lg) {
    @include outer-container($container-lg);
  }
}

.row {
  @include row;
}
