/*
Error: Undefined mixin 'span-columns'.
        on line 8 of assets/stylesheets/project/_default.scss, in `span-columns'
        from line 8 of assets/stylesheets/project/_default.scss
        from line 8 of assets/stylesheets/application.scss

3: // boilerplate
4: @import "boilerplate/normalize";
5: @import "boilerplate/initial";
6: 
7: // project
8: @import "project/default";
9: 
10: // boilerplate
11: @import "boilerplate/end";

Backtrace:
assets/stylesheets/project/_default.scss:8:in `span-columns'
assets/stylesheets/project/_default.scss:8
assets/stylesheets/application.scss:8
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:348:in `block in visit_mixin'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/stack.rb:98:in `block in with_mixin'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/stack.rb:115:in `with_frame'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/stack.rb:98:in `with_mixin'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:346:in `visit_mixin'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/stack.rb:79:in `block in with_base'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/stack.rb:115:in `with_frame'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/stack.rb:79:in `with_base'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:430:in `map'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/stack.rb:79:in `block in with_base'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/stack.rb:115:in `with_frame'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/stack.rb:79:in `with_base'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:325:in `map'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/stack.rb:88:in `block in with_import'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/stack.rb:115:in `with_frame'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/stack.rb:88:in `with_import'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/stack.rb:79:in `block in with_base'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/stack.rb:115:in `with_frame'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/stack.rb:79:in `with_base'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:52:in `map'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/engine.rb:285:in `render_with_sourcemap'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/exec/sass_scss.rb:407:in `run'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/exec/sass_scss.rb:63:in `process_result'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/exec/base.rb:52:in `parse'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/lib/sass/exec/base.rb:19:in `parse!'
/home/medina/.rvm/gems/ruby-2.2.1/gems/sass-3.4.14/bin/sass:13:in `<top (required)>'
/home/medina/.rvm/gems/ruby-2.2.1/bin/sass:23:in `load'
/home/medina/.rvm/gems/ruby-2.2.1/bin/sass:23:in `<main>'
/home/medina/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `eval'
/home/medina/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'span-columns'.\A         on line 8 of assets/stylesheets/project/_default.scss, in `span-columns'\A         from line 8 of assets/stylesheets/project/_default.scss\A         from line 8 of assets/stylesheets/application.scss\A \A 3: // boilerplate\A 4: @import \"boilerplate/normalize\";\A 5: @import \"boilerplate/initial\";\A 6: \A 7: // project\A 8: @import \"project/default\";\A 9: \A 10: // boilerplate\A 11: @import \"boilerplate/end\";"; }
