// typography

$titles: h1, h2, h3, h4, h5, h6;

@each $title in $titles {
  #{$title},
  .title--#{$title} {
    font-family: $family-one;
    font-size: 1em;
  }
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

address {
  font-style: normal;
}

small {
  font-size: 1em;
}

.text--italic {
  font-style: italic;
}

.text--bold {
  font-weight: 700;
}

@include screen-md {
  .text--left {
    text-align: left;
  }

  .text--right {
    text-align: right;
  }

  .text--center {
    text-align: center;
  }
}
