// breakpoints

$phones      : new-breakpoint(min-width 320px);
$phones_max  : new-breakpoint(max-width 767px);
$phones_only : new-breakpoint(min-width 320px max-width 767px);

$tablets     : new-breakpoint(min-width 768px);
$tablets_max : new-breakpoint(max-width 1023px);
$tablets_only: new-breakpoint(min-width 768px max-width 1023px);

$laptops     : new-breakpoint(min-width 1024px);
$laptops_max : new-breakpoint(max-width 1600px);
$laptops_only: new-breakpoint(min-width 1024px max-width 1600px);
