// variables

$family-body: '', sans-serif;
$family-title: '', sans-serif;

$white: #fff;
$black: #111;

$first : #fff;
$second: #fff;
$third : #fff;

$dribbble   : #ed4584;
$dropbox    : #0d84de;
$facebook   : #365397;
$flickr     : #ea0066;
$foursquare : #207dc5;
$google-plus: #e0452c;
$github     : #2f2f2f;
$instagram  : #396d9a;
$linkedin   : #006db3;
$pinterest  : #ce1a19;
$skype      : #00acf4;
$twitter    : #00a9f1;
$tumblr     : #304c68;
$vimeo      : #48b6ed;
$youtube    : #ff3333;
