@import "boilerplate/normalize";
@import "boilerplate/boilerplate-initial";

@import "project/mixins";
@import "project/grid";

@import "project/colors";
@import "project/fonts";

@import "project/default";
@import "project/header";
@import "project/footer";

@import "project/buttons";
@import "project/forms";
@import "project/spacings";
@import "project/pages";

@import "project/breakpoints";
@import "boilerplate/boilerplate-end";