// icon

.icon {
  margin: 0 0 -.15em;

  display: inline-block;
  width: 1em;
  height: 1em;

  color: $primary;
  font-size: 1em;
}

.icon--left {
  margin-right: .25em;
}

.icon--right {
  margin-left: .25em;
}

// icon _btn

.icon__btn {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0;
  border: 0;
  border-radius: 100%;
  background: rgba($black, .08);

  color: rgba($black, .5);
  font-family: $family-one;
  font-size: .8em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  cursor: pointer;
  outline: none;
  transition: .1s ease;

  &:hover,
  &:focus {
    color: $white;
    background: $primary;
  }

  + .btn,
  + .icon__btn {
    margin-left: .5rem;
  }

  + .link {
    margin-left: 1rem;
  }
}

.icon__btn--tiny {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;

  font-size: .6em;
}

.icon__btn--small {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;

  font-size: .7em;
}

.icon__btn--large {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;

  font-size: 1em;
}

.icon__btn--primary {
  color: $white;
  background: $primary;

  &:focus,
  &:hover {
    background: darken($primary, 10%);
  }
}

@include screen-md {
  .icon__btn {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;

    font-size: 1em;
  }

  .icon__btn--tiny {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;

    font-size: .8em;
  }

  .icon__btn--small {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;

    font-size: .9em;
  }

  .icon__btn--large {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;

    font-size: 1.25em;
  }
}
