// link

.link {
  display: inline-block;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1rem;
  border: 0;

  color: rgba($black, .5);
  font-family: $family-one;
  font-size: .8em;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
  outline: none;

  transition: color .1s ease;

  &:hover,
  &:focus {
    color: $primary;
    text-decoration: none;
  }

  + .btn,
  + .link,
  + .icon__btn {
    margin-left: 1rem;
  }
}

.link--tiny {
  height: 1.5rem;
  line-height: 1.5rem;

  font-size: .6em;
}

.link--small {
  height: 2rem;
  line-height: 2rem;

  font-size: .7em;
}

.link--large {
  font-size: 1em;
  height: 3rem;
  line-height: 3rem;
}

.link--primary {
  color: $primary;
}

@include screen-md {
  .link {
    height: 3rem;
    line-height: 3rem;
    padding: 0;

    font-size: 1em;
  }

  .link--tiny {
    height: 2rem;
    line-height: 2rem;

    font-size: .8em;
  }

  .link--small {
    height: 2.5rem;
    line-height: 2.5rem;

    font-size: .9em;
  }

  .link--large {
    height: 4rem;
    line-height: 4rem;

    font-size: 1.25em;
  }
}
